front_end/node_modules
HoslaBotApi/.vs

HoslaBotApi/HoslaBotApi/obj
HoslaBotApi/.vs/HoslaBotApi/v17/.suo
package-lock.json
front_end/package-lock.json
front_end/package.json
HoslaBotApi/.vs/HoslaBotApi/DesignTimeBuild/.dtbcache.v2
HoslaBotApi/.vs/HoslaBotApi/FileContentIndex/6750f373-b30e-4de2-baf6-ece29d52baa2.vsidx
HoslaBotApi/.vs/HoslaBotApi/FileContentIndex/8118d748-7121-4066-88cd-59dafb72e9b9.vsidx
HoslaBotApi/.vs/HoslaBotApi/FileContentIndex/355138e7-9f68-43ea-89d2-69ff72b7a86b.vsidx
HoslaBotApi/.vs/HoslaBotApi/v17/.futdcache.v2
HoslaBotApi/.vs/HoslaBotApi/v17/.suo
HoslaBotApi/.vs/ProjectEvaluation/hoslabotapi.metadata.v7.bin
HoslaBotApi/.vs/ProjectEvaluation/hoslabotapi.projects.v7.bin
HoslaBotApi/HoslaBotApi/bin/Debug/net6.0/HoslaBotApi.dll
HoslaBotApi/HoslaBotApi/bin/Debug/net6.0/HoslaBotApi.pdb
HoslaBotApi/HoslaBotApi/obj/Debug/net6.0/HoslaBotApi.dll
HoslaBotApi/HoslaBotApi/obj/Debug/net6.0/HoslaBotApi.pdb
HoslaBotApi/HoslaBotApi/obj/Debug/net6.0/ref/HoslaBotApi.dll
HoslaBotApi/HoslaBotApi/obj/Debug/net6.0/refint/HoslaBotApi.dll
