.crud {
  display: flex;
}
.crud-logout {
  display: flex;
  width: 5vw;
  padding: 12px;
  margin-left: 40vw;
  border-radius: 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  min-width: 100px;
  justify-content: center;
}
.form-control {
  margin: 5px;
  padding: 5px;
  width: 90%;
}

.comment-cell {
  position: relative;
}

.comment-text {
  display: block;
  width: 100%;
  max-width: 170px;
  /* Adjust the maximum height as needed */
  overflow: auto;
  /* border: 1px solid #ccc; */
  padding: 5px;
  /* resize: vertical; */
}
table .high-score {
  color: red;
}
